@charset "utf-8";
/*CSS DOC*/
body{
    background-color: white;
}
.heading{
    display: flex;
    background-color: black;
    height: 150px;
    width: 100%;
}
.heading h1{
    color:rgb(202, 131, 0);
    font-size: 50px;
}
.heading img{
    margin-left: 400px;
}
nav{
    display: flex;
    background-color: black;
    width: 100%;
    height: 100px;
}
a:link{
    text-decoration: none;
    color: rgb(202, 131, 0);
}
ul{
    list-style: none;
    display: flex;
}
nav ul{
    font-size: 30px;
}
nav ul a{
    border: 2px solid black;
    margin: 2px;
    padding: 10px 15px;
    text-align: center;
}
#kl{
    margin-left: 350px;
}
nav ul a:hover{
    transform: scale(1.1);
    border: 2px solid black;
    background-color: white;
    color: black;
}
#sk{
    color:gray;
}
.container h1{
    font-size: 40px;
    text-align: center;
}
.container{
    height: 100px;
    width: 100%;
}
.f img{
    margin-left: 430px;
}
.pf1{
    font-size: 30px;
    color: black;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.pf1:hover{
    color: peru;
}
.pf2{
    font-size: 25px;
    color: black;
    text-align: center;
    font-weight: 300;
}
hr{
    width:90%;
    background-color: peru;
    color: peru;
    height: 9px;
    border: none;
    outline: none;
}
.s img{
    margin-left: 430px;
}
.ps1{
    font-size: 30px;
    color: black;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.ps1:hover{
    color: peru;
}
.ps2{
    font-size: 25px;
    color: black;
    text-align: center;
    font-weight: 300;
}
hr{
    width:90%;
    background-color: peru;
    color: peru;
    height: 9px;
    border: none;
    outline: none;
}
.t img{
    margin-left: 430px;
}
.pt1{
    font-size: 30px;
    color: black;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.pt1:hover{
    color: peru;
}
.pt2{
    font-size: 25px;
    color: black;
    text-align: center;
    font-weight: 300;
}
hr{
    width:90%;
    background-color: peru;
    color: peru;
    height: 9px;
    border: none;
    outline: none;
}
.fr img{
    margin-left: 430px;
}
.pfr1{
    font-size: 30px;
    color: black;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.pfr1:hover{
    color: peru;
}
.pfr2{
    font-size: 25px;
    color: black;
    text-align: center;
    font-weight: 300;
}
hr{
    width:90%;
    background-color: peru;
    color: peru;
    height: 9px;
    border: none;
    outline: none;
}